    /*No Margin after Navbar, Removes rounded corners*/
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      font-size: 20px;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      border-bottom-color: black;
    }
    /*footer that stays at bottom*/
    .footer {
      background-color: lightgray;
      width: 100%;
    }
    .title {
      font-size: 30px;
      font-family: 'Balsamiq Sans', cursive;
    }